@font-face {
    font-family: 'Georgia';
    src: url(/assets/fonts/Georgia-Italic.woff2) format('woff2'),
    url(/assets/fonts/Georgia-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url(/assets/fonts/Georgia-Bold.woff2) format('woff2'),
        url(/assets/fonts/Georgia-Bold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url(/assets/fonts/ArialMT.woff2) format('woff2'),
        url(/assets/fonts/ArialMT.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url(/assets/fonts/Arial-ItalicMT.woff2) format('woff2'),
        url(/assets/fonts/Arial-ItalicMT.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url(/assets/fonts/Georgia.woff2) format('woff2'),
        url(/assets/fonts/Georgia.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
:root {
    --color-white: #FFFFFF;
    --color-primary: #F1CDB3;
    --color-dark-title: #545454;
    --color-dark-text: #4C4C4C;
    --color-dark-s: #CDCDCD;
    --color-dark-btn: #292929;
    --color-primary-hover: #FDDCC4;
}
*{
    box-sizing: border-box;
}
html {
    font-family: 'Georgia';
    font-weight: normal;
    font-style: normal;
    scroll-behavior: smooth;
}
body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
p {
    margin: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
}
@media (max-width: 1245px) {
    .container {
        max-width: 768px;
    }
}
@media (max-width: 760px) {
    .container {
        max-width: 320px;
    }
}
.dark-theme {
    background-color: #F6F6F6;
}
/*------------------- HEADER -------------------*/
.header {
    position: sticky;
    height: 120px;
    top: 0;
    width: 100%;
    background-color: var(--color-white);
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
    margin: 0 auto;
}
h1 {
    font-size: 32px;
    letter-spacing: 0.06em;
    font-weight: 400;
    line-height: 110%;
    color: var(--color-dark-title);
    margin: 0;
    padding-bottom: 10px;
}
.header__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-dark-btn);
    padding-left: 5px;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    width: 443px;
}
.header__burger {
    display: none;
    position: relative;
    z-index: 70;
    padding-top: 10px;
    cursor: pointer;
    display: none;
}
.nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-title);
    transition: 0.5s;
}
.nav__link:hover {
    color: var(--color-dark-btn);
}
.nav__link-active {
    color: var(--color-dark-btn);
    position: relative;
}
.nav__link-active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
}
@media (max-width: 1245px) {
    .header__wrapper {
        margin: 30px;
        padding: 0;
        max-width: 708px;   
    }
    .header {
        height: 90px;
    }
}
@media (max-width: 760px) {
    .header {
        max-width: 320px;
        padding: 30px 53px 0px 10px;
        height: 120px;
    }
    .header__wrapper {
        max-width: 257px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .nav__list {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .burger__line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000000;
        margin: 8px auto;
    }
}
/*------------------- MAIN -------------------*/

.friends-wrapper {
    padding: 80px 40px 100px 40px;
}
.section__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-title);
    margin: 0;
}
.friends__title {
    text-align: center;
    margin-bottom: 60px;
}
.friends-card__img-wrapper {
    padding-bottom: 30px;
}
.friends-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.friends-card__wrapper {
    display: grid;
    gap: 30px 40px;
    max-width: 1200px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 435px);
}
.friends-card__item {
    max-width: 270px;
    text-align: center;
    background-color: #FAFAFA;
    cursor: pointer;
    height: 435px;
    transition: 0.7s;
    border-radius: 9px;
}
.friends-card__item:hover {
    background-color: var(--color-white);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.friends-card__item:hover .friends-card__link {
    background-color: var(--color-primary-hover);
    border: none;
}
.friends-card__img {
    border-radius: 9px 9px 0 0; 
}
.friends-card__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark-title);
    letter-spacing: 0.06em;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 28px;
}
.friends-card__link {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: var(--color-dark-btn);
    letter-spacing: 0.06em;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 0.3s;
    background-color: var(--color-white);
}
.friends-card__link:hover {
    background: var(--color-primary-hover);
    border: none;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    margin: 0 auto;
}
.pagination__btn {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
}
.pagination__btn:hover {
    background-color: var(--color-primary-hover);
    border: none;
}
.pagination__btn-disabled {
    pointer-events: none;
    color: var(--color-dark-s);
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    
}
.pagination__btn-active {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-dark-btn);
    letter-spacing: 0.06em;
    width: 52px;
    height: 52px;
    background-color: var(--color-primary);
    border: none;
}
.pagination__btn-active:hover {
    background-color: var(--color-primary);
}
@media (max-width: 1245px) {
    .friends-wrapper {
        height: 1733px;
    }
    .friends-card__wrapper {
        display: grid;
        gap: 30px 40px;
        max-width: 580px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(3, 435px);
    }
    .friends-card {
        padding-bottom: 40px;
    }
    .friends__title {
        margin-bottom: 28px;
    }
    .friends-card__item:nth-child(7) {
        display: none;
    }
    .friends-card__item:nth-child(8) {
        display: none;
    }
}
@media (max-width: 760px) {
    .section__title {
        font-size: 25px;
        max-width: 300px;
        padding-bottom: 14px;
    }
    .friends-wrapper {
        max-width: 300px;
        padding: 0;
        padding-top: 42px;
        height: 1649px;
    }
    .friends-card__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        margin: 0 auto;
        
    }
    .friends-card__item:nth-child(4),
    .friends-card__item:nth-child(5),
    .friends-card__item:nth-child(6) {
        display: none;
    }
}
/*------------------- FOOTER -------------------*/

.footer {
    background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
}
.footer__wrapper {
    display: flex;
    max-width: 1280px;
    padding: 40px 40px 0 40px;
    margin: 0 auto;
    justify-content: space-between;
}
.footer__contacts {
    max-width: 280px;
}
.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-white);
    margin: 0;
    margin-top: 16px;
}
.footer__contacts-link {
    display: block;
    display: flex;
    margin-top: 43px;
}
.footer__link-img-email {
    background-image: url(/assets/icons/icon-email.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.footer__link-img-tel {
    background-image: url(/assets/icons/icon-phone.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.footer__link-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);
    letter-spacing: 0.06em;
}
.footer__visit {
    max-width: 305px;
}
.footer__link-img-addres {
    background-image: url(/assets/icons/icon-marker.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 32px;
    margin-right: 20px;
}
.footer__contacts-link-visit {
    margin-top: 34px;
}
.addres-icon {
    padding-right: 22px;
}
@media (max-width: 1245px) {
    .footer__img {
        width: 300px;
        height: 310px;
        margin-top: 59px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        padding: 29px 30px 0 31px;
    }
    .footer__title {
        margin-top: 0px;
    }
} 
@media (max-width: 760px) {
    .footer__wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer__title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .footer__title-visit {
        max-width: 270px;
        margin: 0 auto;
    }
    .footer__contacts {
        margin-bottom: 36px;
        padding-left: 11px;
        padding-right: 11px;
    }
    .footer__visit {
        max-width: 300px;
    }
    .footer__link-text {
        max-width: 260px; 
    }
    .footer__contacts-link-visit {
        margin-top: 40px;
    }
    .footer__img {
        width: 260px;
        height: 269px;
        margin-top: 40px;
    }
}